@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
	min-height: 100vh;
	width: 100%;
	background: #cfebf4;
	}


:before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
span a{
	text-decoration: none;
	color: #1d2f7e;
}
button a{
	color: rgb(255, 255, 255);
}
a:hover{
	color: rgb(250, 19, 19);
}

/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:3px;
	background-color: hsl(193, 66%, 64%);
	border: 2px solid rgb(2, 32, 50);
	animation: fadeInRight 2s ease;
}
.header .item-left{
	flex:0 0 17%;
	
}
.header .logo a{
	font-size: 28px;
	color:#000000;
	margin-left:  10px;
	bottom: 50%;
}

.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 15px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}

.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#000000;
    background-color: hsl(193, 66%, 64%);
}
/* banner section */

.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 15px;
		width: 15px;
		margin-right: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 200%;
		position: relative;
		margin-bottom: 40px;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 150%;
		height: 120%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
	
}

  @keyframes fadeInUp {
	0%{
	  opacity: 0;
	  transform: translateY(50px);
	}
	100%{
	  opacity: 1;
	  transform: translateY(0px);
	}
  }
  @keyframes fadeInRight {
	0%{
	  opacity: 0;
	  transform: translateX(-50px);
	}
	100%{
	  opacity: 1;
	  transform: translateX(0px);
	}
  }


:root{
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   font-weight: 400;
}

*{
   margin: 0;
   box-sizing: border-box;
}
/* General button style (reset) */
.btn1 {
	border: 2px solid #000000;
	font-weight: 500;
	background-color: rgb(15, 96, 114);
	color: #000000;
	padding: 8px 15px;
	border-radius: 50px;
	width: 120px;


}
.btn1:hover {
	border-radius: 50px;
	border: 2px solid rgb(134, 216, 235);
    background-color: #000000;
	color: rgb(134, 216, 235);
	transform: scale(1.1);

}
.btn1 a{
	color: #9ff9fc;
}



@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}


/* end slider */
/* start slider */

.header-text {
	text-align: center;
	display: grid;
	place-items: center;
	height: 80vh;
	position: relative;
	z-index: 9998;
}
.text-content h1 {
	font-size: 80px;
	text-transform: uppercase;
}
.text-content p {
	width: 75%;
	margin: auto;
	line-height: 1.9;
}











.carousel{
   position: relative;
   animation: fadeInUp 2s ease;

}

.carousel_inner{
   width: 100%;
   overflow: hidden;
}

.carousel_inner::after{
   content: "";
   display: block;
   clear: both;
}

.carousel_item{
   position: relative;
   float: left;
   display: none;
   width: 100%;
   margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next{
   display: block;
}

.carousel_item__pos_prev{
   left: -100%;
}

.carousel_item__pos_next{
   left: 100%;
}

.carousel_item__prev{
   transform: translateX(100%);
   transition: transform .5s ease-in-out;
}

.carousel_item__next{
   transform: translateX(-100%);
   transition: transform .5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next{
   left: 0;
   opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next{
   transform: none;
   opacity: 1;
   transition: opacity .5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next{
   opacity: 0;
}

/* carousel */
.carousel_img{
   display: block;
   width: 100%;
}

.carousel_caption{
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding: 3rem 4rem;
   text-align: center;
   color: #fff;
   z-index: 1;
}

.carousel_title{
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
}

.carousel_description{
   margin-top: .75rem;
   line-height: 150%;
}

.carousel_indicator{
   position: absolute;
   bottom: 1rem;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: row;
   gap: .5rem;
   z-index: 1;
}

.carousel_dot{
   display: block;
   padding: .25rem;
   background-color: rgba(255, 255, 255, .25);
   border: none;
   border-radius: 50%;
   cursor: pointer;
   transition: background-color .5s ease-in-out;
}

.carousel_dot__active{
   background-color: lightskyblue;
   cursor: default;
   pointer-events: none;
}

.carousel_control{
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}

.carousel_button{
   display: block;
   padding-inline: 1rem;
   font-family: "Raleway", sans-serif;
   font-size: 1.375rem;
   background-color: transparent;
   color: rgba(255, 255, 255, .25);
   border: none;
   cursor: pointer;
   transition: color .25s;
   z-index: 1;
}

.carousel_button:hover{
   color: rgba(135, 206, 250, .75);
}
@media (max-width: 500px) {
	.carousel_img{
		display: block;
		width: 100%;
		height: 300px;
	 }
	}	 
	

	.whatsapp-text{
		text-decoration: none;
		position: fixed;
		width: 150px;
		height: 150px;
		bottom: -70px;
		z-index: 99;
		font-family: poppins;
		border-radius: 50vh;
		left: 1vh;
		}
		.whatsapp-img{
			width: 65px;
			height: 65px;
			
		}
		.whatsapp-img {
			animation: zoom-in-zoom-out 2s ease infinite;}
		
			@keyframes zoom-in-zoom-out {
				50% {
				  transform: scale(1.1, 1.1);
						}
					}
	  
		.call-icon{
			text-decoration: none;
			position: fixed;
			width: 152px;
			height: 152px;
			bottom: -67px;
			z-index: 99;
			font-family: poppins;
			border-radius: 50vh;
			left: 15vh;
		  }
			.call-img{
				width: 75px;
				height: 75px;
				
			}
		   
	  
		
	  
	  
	  .call-text a{
		text-decoration: none;
		position: fixed;
		background-color: rgb(22, 5, 85);
		color: rgb(135, 239, 23);
		padding: 0.4vw 0.8vw;
		border: 1px solid #91ef15;
		z-index: 99;
		font-family: poppins;
		border-radius: 0.2vw;
		right: -4vw;
		rotate: -89.4deg;
		top: 50vh;
		}
		.call-text a:hover{
			background-color: #096822;
			color: #f3f710;
			box-shadow: 15px 15px 666px;
		}
		.call-text a {
			-webkit-animation: action 1s infinite  alternate;
			animation: action 1s infinite  alternate;
		}
		
		@-webkit-keyframes action {
			0% { transform: translateY(0); }
			100% { transform: translateY(-10px); }
		}
		
		@keyframes action {
			0% { transform: translateY(0); }
			100% { transform: translateY(-10px); }
		}
	  
	
	/* slider end */







/* cards start */

.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
	border: 2px solid red;
	border: 1px solid rgb(2, 32, 50);
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
.card-title{
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}
h5{
    color: rgb(6, 84, 101);
}
strong{
	font-size: 25px;
    color: rgb(6, 84, 101);
}

.book-button a{
	padding: 8px 15px;
	border: 2px solid #000000;
    border-radius: 50px;
	font-weight: 500;
	background-color: rgb(134, 216, 235);
	color: #000000;
}
.book-button:hover a{
	border-radius: 50px;
	border: 2px solid rgb(134, 216, 235);
    background-color: #000000;
	color: rgb(134, 216, 235);
	transform: scale(1.1);

}
a{
	color: #ffffff;
	font-weight: 700;
}

/* cards end */

/* mobile-cards start */
@media (max-width: 700px){

	.logo{
		width: 80px;
		height: 34px;
		align-items: center;
		
	}
	.whatsapp-text{
		text-decoration: none;
		position: fixed;
		width: 150px;
		height: 150px;
		bottom: -50px;
		z-index: 99;
		font-family: poppins;
		border-radius: 50vh;
		left: 1vh;
		}
		.whatsapp-img{
			width: 75px;
			height: 75px;
			
		}
	
	  
		.call-icon{
			text-decoration: none;
			position: fixed;
			width: 100px;
			height: 100px;
			bottom: 99px;
			z-index: 99;
			font-family: poppins;
			border-radius: 50vh;
			left: 0.5vh;
		}
			.call-img{
				width: 80px;
				height: 80px;
	
			}
		   
	  
		
	  
	  
	  .call-text a{
		text-decoration: none;
		position: fixed;
		background-color: rgb(22, 5, 85);
		color: rgb(135, 239, 23);
		padding: 0.4vw 0.8vw;
		border: 1px solid #91ef15;
		z-index: 99;
		font-family: poppins;
		border-radius: 0.2vw;
		right: -12vw;
		rotate: -89.4deg;
		top: 50vh;
		}



	.btn1 {
		border: 2px solid #000000;
		font-weight: 500;
		background-color: rgb(15, 96, 114);
		color: #000000;
		padding: 1px 5px;
		border-radius: 50px;
		width: 120px;
margin-left: 50%;	

	}
	.btn1:hover {
		border-radius: 50px;
		border: 2px solid rgb(134, 216, 235);
		background-color: #000000;
		color: rgb(134, 216, 235);
		transform: scale(1.1);
	
	}
	.btn1 a{
		color: #9ff9fc;
	}
	

		h1 {
		font-size: 18px;
		text-transform: uppercase;
	  }
	  .paragraph{
		font-size: 10px;
		font-weight: 500;
	  }


.card-img-top{
    border-radius: 35px;
    padding: 20px;
	
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	height: 246px;
}
.card-body{
    padding: 15px;
    margin-top: -15px;
	font-size: 7px;
}
.card-title{
	font-size: 10px;
	text-align: center;
	font-weight: 700;
}

h5{
    color: rgb(6, 84, 101);
}
strong{
	font-size: 10px;
    color: rgb(6, 84, 101);
	margin-top: 6px
}

.book-button a{
	font-size: 6px;
	padding: 4px 8px;
	border: 1px solid #000000;
    border-radius: 50px;
	font-weight: 500;
	background-color: rgb(134, 216, 235);
	color: #000000;
}
.book-button:hover a{
	border-radius: 50px;
	border: 2px solid rgb(134, 216, 235);
    background-color: #000000;
	color: rgb(134, 216, 235);
	transform: scale(1.1);

}
}
@media (max-width: 1440px){
	.card{
		width: 1440px, 2160px;
	}
}

/* mobile-cards end */



/* open slider */
.c-item {
	height: 480px;
  }
  
  .c-img {
	height: 100%;
	object-fit: cover;
	filter: brightness(0.6);
  }
/* paragraph */

.paragraph {
	text-align: center;
	font-weight: 500;
	

}


/* start table */

	  
	/*end paragraph  */
	  
	  
	
	  
	  /* start page6 */
	  #page6{
		overflow: hidden
	  }
	  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
	  *{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: "Poppins" , sans-serif;
	  }
	  footer{
	  background: #0b3e5c;
	  width: 100%;
	  bottom: 0;
	  left: 0;
	  }
	  footer::before{
	  content: '';
	  position: absolute;
	  left: 0;
	  top: 100px;
	  height: 1px;
	  width: 100%;
	  }
	  footer .content{
	  max-width: 1250px;
	  margin: auto;
	  padding: 30px 40px 40px 40px;
	  }
	  footer .content .top{
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  margin-bottom: 50px;
	  }
	  .content .top .logo-details{
	  color: #fff;
	  font-size: 30px;
	  
	  }
	  .logo-footer h6{
	  font-size: 1.3vw;
	  color: #87d7f7;
	  text-align: center;

	  }
	  
	  .logo-footer a{
		font-size: 45px; text-align: center; font-weight: bold; color: #bddef3;
		margin-left: 13%;
	  
	  }
	  
	  
	  .content .top .media-icons{
	  display: flex;
	  }
	  .content .top .media-icons a{
	  height: 40px;
	  width: 40px;
	  margin: 0 8px;
	  border-radius: 50%;
	  text-align: center;
	  line-height: 40px;
	  color: #fff;
	  font-size: 17px;
	  text-decoration: none;
	  transition: all 0.4s ease;
	  }
	  .top .media-icons a:nth-child(1){
	  background: #4267B2;
	  }
	  .top .media-icons a:nth-child(1):hover{
	  color: #4267B2;
	  background: #fff;
	  }
	  .top .media-icons a:nth-child(2){
	  background: #1DA1F2;
	  }
	  .top .media-icons a:nth-child(2):hover{
	  color: #1DA1F2;
	  background: #fff;
	  }
	  .top .media-icons a:nth-child(3){
	  background: #E1306C;
	  }
	  .top .media-icons a:nth-child(3):hover{
	  color: #E1306C;
	  background: #fff;
	  }
	  .top .media-icons a:nth-child(4){
	  background: #0077B5;
	  }
	  .top .media-icons a:nth-child(4):hover{
	  color: #0077B5;
	  background: #fff;
	  }
	  .top .media-icons a:nth-child(5){
	  background: #FF0000;
	  }
	  .top .media-icons a:nth-child(5):hover{
	  color: #FF0000;
	  background: #fff;
	  }
	  footer .content .link-boxes{
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  }
	  footer .content .link-boxes .box{
	  }
	  .content .link-boxes .box .link_name{
	  color: #0bf235;
	  font-size: 18px;
	  font-weight: 400;
	  margin-bottom: 10px;
	  position: relative;
	  }
	  .link-boxes .box .link_name::before{
	  content: '';
	  position: absolute;
	  left: 0;
	  bottom: -2px;
	  height: 2px;
	  width: 35px;
	  background: #fff;
	  }
	  .content .link-boxes .box li{
	  margin: 6px 0;
	  list-style: none;
	  }
	  .content .link-boxes .box li a{
	  color: #fff;
	  font-size: 14px;
	  font-weight: 400;
	  text-decoration: none;
	  opacity: 0.8;
	  transition: all 0.4s ease
	  }
	  .content .link-boxes .box li a:hover{
	  opacity: 1;
	  text-decoration: underline;
	  }
	  .content .link-boxes .input-box{
	  margin-right: 55px;
	  }
	  .link-boxes .input-box input{
	  height: 40px;
	  width: calc(100% + 55px);
	  outline: none;
	  border: 2px solid #AFAFB6;
	  background: #140B5C;
	  border-radius: 4px;
	  padding: 0 15px;
	  font-size: 15px;
	  color: #fff;
	  margin-top: 5px;
	  }
	  .link-boxes .input-box input::placeholder{
	  color: #AFAFB6;
	  font-size: 16px;
	  }
	  .link-boxes .input-box input[type="button"]{
	  background: #fff;
	  color: #140B5C;
	  border: none;
	  font-size: 88px;
	  font-weight: 500;
	  margin: 4px 0;
	  opacity: 0.8;
	  cursor: pointer;
	  transition: all 0.4s ease;
	  }
	  .input-box input[type="button"]:hover{
	  opacity: 1;
	  }
	  footer .bottom-details{
	  width: 100%;
	  background: #0F0844;
	  }
	  footer .bottom-details .bottom_text{
	  max-width: 1250px;
	  margin: auto;
	  padding: 20px 40px;
	  display: flex;
	  justify-content: space-between;
	  }
	  .bottom-details .bottom_text span,
	  .bottom-details .bottom_text a:hover{
	  opacity: 1;
	  text-decoration: underline;
	  }
	  .bottom-details .bottom_text a{
	  margin-right: 10px;
	  }
	  @media (max-width: 900px) {
	  footer .content .link-boxes{
		flex-wrap: wrap;
	  }
	  footer .content .link-boxes .input-box{
		width: 40%;
		margin-top: 10px;
	  }
	  }
	  @media (max-width: 700px){
	  footer{
		position: relative;
	  }
	  .content .top .logo-details{
		font-size: 26px;
	  }
	  .logo-details span{
		font-size: 8vw; 
		font-weight: bold;   
		
		}
		
	  .logo-footer h6{
		font-size: 2vw;
		color: #87d7f7;
		align-items: center;
		}
		
	  .content .top .media-icons a{
		height: 35px;
		width: 35px;
		font-size: 14px;
		line-height: 35px;
	  }
	  footer .content .link-boxes .box{
		width: calc(100% / 3 - 10px);
	  }
	  footer .content .link-boxes .input-box{
		width: 60%;
	  }
	  .bottom-details .bottom_text span,
	  .bottom-details .bottom_text a{
		font-size: 12px;
	  }
	  }
	  @media (max-width: 520px){
	  footer::before{
		top: 145px;
	  }
	  footer .content .top{
		flex-direction: column;
	  }
	  .content .top .media-icons{
		margin-top: 16px;
	  }
	  footer .content .link-boxes .box{
		width: calc(100% / 2 - 10px);
	  }
	  footer .content .link-boxes .input-box{
		width: 100%;
	  }
	  .nevi-button{
		border-radius: 50px;
		margin-left: 220px;
		margin-top: -100px;
		width: 120px;
		background-color: rgb(0, 0, 0);
		color: rgb(134, 216, 235);
		font-size: 20px;
	}
	.nevi-button:hover{
		background-color: rgb(6, 116, 118);
		color: white
	}
	.nevi-button a{
		color: rgb(134, 216, 235);
	}
	  }
	  
	  /* end page7 */
	
	

footer{
	background: #09596f;
	width: 100%;
	bottom: 0;
	left: 0;
	}
	footer::before{
	content: '';
	position: absolute;
	left: 0;
	top: 100px;
	height: 1px;
	width: 100%;
	}
	footer .content{
	max-width: 1250px;
	margin: auto;
	padding: 30px 40px 40px 40px;
	}
	footer .content .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	}
	.content .top .logo-details{
	color: #fff;
	font-size: 30px;
	
	}
	.logo-footer h6{
	font-size: 1.3vw;
	color: #87d7f7;
	text-align: center;
	}
	
	.logo-details span{
	font-size: 5vw; 
	font-weight: bold; 
	
	
	}
	
	
	.content .top .media-icons{
	display: flex;
	}
	.content .top .media-icons a{
	height: 40px;
	width: 40px;
	margin: 0 8px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	transition: all 0.4s ease;
	}
	.top .media-icons a:nth-child(1){
	background: #4267B2;
	}
	.top .media-icons a:nth-child(1):hover{
	color: #4267B2;
	background: #fff;
	}
	.top .media-icons a:nth-child(2){
	background: #1DA1F2;
	}
	.top .media-icons a:nth-child(2):hover{
	color: #1DA1F2;
	background: #fff;
	}
	.top .media-icons a:nth-child(3){
	background: #E1306C;
	}
	.top .media-icons a:nth-child(3):hover{
	color: #E1306C;
	background: #fff;
	}
	.top .media-icons a:nth-child(4){
	background: #0077B5;
	}
	.top .media-icons a:nth-child(4):hover{
	color: #0077B5;
	background: #fff;
	}
	.top .media-icons a:nth-child(5){
	background: #FF0000;
	}
	.top .media-icons a:nth-child(5):hover{
	color: #FF0000;
	background: #fff;
	}
	footer .content .link-boxes{
	width: 100%;
	display: flex;
	justify-content: space-between;
	}
	footer .content .link-boxes .box{
	}
	.content .link-boxes .box .link_name{
	color: #0bf235;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	position: relative;
	}
	.link-boxes .box .link_name::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 35px;
	background: #fff;
	}
	.content .link-boxes .box li{
	margin: 6px 0;
	list-style: none;
	}
	.content .link-boxes .box li a{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	opacity: 0.8;
	transition: all 0.4s ease
	}
	.content .link-boxes .box li a:hover{
	opacity: 1;
	text-decoration: underline;
	}
	.content .link-boxes .input-box{
	margin-right: 55px;
	}
	.link-boxes .input-box input{
	height: 40px;
	width: calc(100% + 55px);
	outline: none;
	border: 1px solid #06363f;
	background: #328eac;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	color: #fff;
	margin-top: 5px;
	}
	.link-boxes .input-box input::placeholder{
	color: #AFAFB6;
	font-size: 16px;
	}
	.link-boxes .input-box input[type="button"]{
	background: #fff;
	color: #140B5C;
	border: none;
	font-size: 18px;
	font-weight: 500;
	margin: 4px 0;
	opacity: 0.8;
	cursor: pointer;
	transition: all 0.4s ease;
	}
	.input-box input[type="button"]:hover{
	opacity: 1;
	}
	footer .bottom-details{
	width: 100%;
	background: #18536c;
	}
	footer .bottom-details .bottom_text{
	max-width: 1250px;
	margin: auto;
	padding: 20px 40px;
align-items: center;	display: flex;
	justify-content: space-between;
	}
	.bottom-details .bottom_text span{
		opacity: 1;
		color: #ffffff;	
	}
	.bottom-details .bottom_text a:hover{
	opacity: 1;
	color: #21b1c1;
	}
	.bottom-details .bottom_text a{
	margin-right: 10px;
	color: #0bf235;
	}
	@media (max-width: 900px) {
	footer .content .link-boxes{
	  flex-wrap: wrap;
	}
	footer .content .link-boxes .input-box{
	  width: 40%;
	  margin-top: 10px;
	}
	}
	@media (max-width: 700px){
	footer{
	  position: relative;
	}
	.content .top .logo-details{
	  font-size: 26px;
	}
	.logo-details span{
	  font-size: 8vw; 
	  font-weight: bold;   
	  
	  }
	  
	.logo-footer h6{
	  font-size: 2vw;
	  color: #87d7f7;
	  align-items: center;
	  }
	  
	.content .top .media-icons a{
	  height: 35px;
	  width: 35px;
	  font-size: 14px;
	  line-height: 35px;
	}
	footer .content .link-boxes .box{
	  width: calc(100% / 3 - 10px);
	}
	footer .content .link-boxes .input-box{
	  width: 60%;
	}
	.bottom-details .bottom_text span,
	.bottom-details .bottom_text a{
	  font-size: 12px;
	}
	}
	@media (max-width: 520px){
	footer::before{
	  top: 145px;
	}
	footer .content .top{
	  flex-direction: column;
	}
	.content .top .media-icons{
	  margin-top: 16px;
	}
	footer .content .link-boxes .box{
	  width: calc(100% / 2 - 10px);
	}
	footer .content .link-boxes .input-box{
	  width: 100%;
	}
	}
	.copyright p{
	margin-top:-8vh;
	text-align: center;
	color: var(--background);
	}
	